// Подключаем шрифты используя font-face и расширение файла woff2
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo-Light.woff2") format(".woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo-Bold.woff2") format(".woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yantramanav";
  src: url("/fonts/Yantramanav-Bold.woff2") format(".woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

//Создаем переменные
$color-dark: #000000;
$color-light: #ffffff;
$color-dark-gray: #404040;
$color-light-gray: #c4c4c4;

$border-radius: 30px;
$border: 1px solid $color-light;

$font-family-base: "Heebo", sans-serif;
$font-family-accent: "Yantramanav", sans-serif;

$input-height: 54px;

$container-width: 1300px;
$container-padding-x: 15px;

$transition-duration: 0.2s;


// Импортируем файл обнуления стилей
@import "null_style.scss";

//Задаем глобальные стили
body {
  background-color: #131619;
  font-family: $font-family-base;
  color: $color-light-gray;
  font-size: 16px;
  line-height: 1.75;
  overflow-x: hidden;
}

a {
  color: $color-light;
}

a:hover {
  color: $color-light-gray;
}

.button {
  display: inline-flex;
  background-color: $color-light;
  color: $color-dark;
  font-weight: 700;
  text-transform: uppercase;
  height: 38px;
  align-items: center;
  border-radius: $border-radius;
  padding-inline: 26px;
  white-space: nowrap;
}

.button:hover {
  background-color: $color-light-gray;
  transition-duration: $transition-duration;
}

.button.transparent {
  position: relative;
  height: 54px;
  padding-left: 31px;
  padding-right: 80px;
  background-color: transparent;
  border: 1px solid $color-light;
  color: $color-light;
}

.button.transparent::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  height: 100%;
  aspect-ratio: 1;
  background: url("/icons/arrow-top-right.svg") center/80% no-repeat;
  border-radius: 50%;
  border: 1px solid $color-light;
}

.button.transparent:hover {
  background-color: $color-light-gray;
  color: $color-dark;
}

.input{
  height: 54px;
  padding-inline: 25px;
  border: 1px solid $color-dark-gray;
  border-radius: 30px;
  width: 100%;

}

.input::placeholder{
  color: $color-light-gray;
}

.input:hover::placeholder{
  color: $color-dark;
  transition: $transition-duration;
}

.input:hover{
  border-color: $color-light-gray;
  background-color: $color-light-gray;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-medium {
  font-size: clamp(20px, 2.08vw ,40px);
  line-height: 1.3;
}

.title-big{
  font-size: clamp(30px, 3.12vw, 60px);
  line-height: 1.3;
}

.backdrop-title {
  position: relative;
  z-index: 2;
}

.backdrop-title.centered::after{
  top: -0.3em;
  left: 50%;
  translate: -50% 0%;
}

.backdrop-title::before {
  content: "";
  display: block;
  position: absolute;
  right: calc(100% + 8px);
  width: 26px;
  aspect-ratio: 1;
  background: url("/icons/plus.svg") center/contain no-repeat;
}

.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.3em;
  left: -0.6em;
  color: transparent;
  -webkit-text-stroke: 1px $color-light-gray;
  font-size: 2.8em; //112px / 40px
  font-family: $font-family-accent;
  line-height: 1;

}

//Добавляем всем интерактивным элементам плавную анимацию
a,
button,
input,
textarea,
svg * {
  transition-duration: $transition-duration;
}

.container {
  max-width: calc($container-width + $container-padding-x * 2);
  margin-inline: auto;
  padding-inline: $container-padding-x;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: $color-light;
}

//Пишем стили
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-inline: 32px;
  min-height: 90px;

  & .header-logo {
    flex-shrink: 0;
  }

  & .header-menu {
    & .header-menu-list {
      display: flex;
      column-gap: 50px;

      & .header-menu-link {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.2px;
        height: 90px;
        display: inline-flex;
        align-items: center;
      }

      & .header-menu-link.is-current::after {
        content: "";
        width: 5px;
        height: 5px;
        margin-left: 7px;
        background-color: $color-light;
        border-radius: $border-radius;
      }
    }
  }

  & .header-actions {
    display: flex;
    column-gap: 40px;

    & .header-burger-button {
      display: inline-flex;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: $border;
      border-radius: 50%;
    }
  }
}

.banner {
  padding: 36px 70px;
  min-height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: $color-light;

  & .banner-body {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;


    .banner-info {
      display: flex;
      align-items: end;
      font-size: clamp(16px, 1.56vw, 30px);
      line-height: 1.27;
      font-weight: 700;
    }

    .banner-info::before {
      content: "";
      width: clamp(60px, 10.1vw, 194px);
      aspect-ratio: 1;
      background: url("/icons/bold-arrow-down-right.svg") center/contain
        no-repeat;
      margin-right: 30px;
    }

    .banner-title {
      font-size: min(18.75vw, 360px);
      line-height: 1;
    }
  }

  & .banner-pagination {
    .banner-pagination-list {
      display: flex;
      justify-content: center;
      column-gap: 14px;

      .banner-pagination-item {
        display: flex;

        .banner-pagination-button {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          border: none;
          padding: 7px;
        }

        .banner-pagination-button::after {
          content: "";
          width: 10px;
          aspect-ratio: 1;
          border: $border;
          border-radius: 50%;
          transition-duration: $transition-duration;
        }

        .banner-pagination-button.is-current {
          background-color: transparent;
        }

        .banner-pagination-button.is-current::after {
          content: "";
          width: 10px;
          aspect-ratio: 1;
          border: $border;
          border-radius: 50%;
          background-color: $color-light;
        }

        .banner-pagination-button:not(.is-current):hover::after {
          border-color: $color-light-gray;
        }
      }
    }
  }
}

.motivation {
  .motivation-list {
    .motivation-item {
      .motivation-card {
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: clamp(20px, 10.42vw, 200px);

        .motivation-card-image {
          margin-block: -60px;
          // width: 100%;
          // height: auto;
        }

        .motivation-card-body {
          padding-left: 35px;

          .motivation-card-title {
            margin-bottom: 14px;
          }

          .motivation-card-description p {
            max-width: 386px;
            margin-bottom: 37px;
          }
        }
      }
    }

    .motivation-item:nth-child(odd) {
      background-color: $color-dark;
    }

    .motivation-item:nth-child(even) .motivation-card {
      flex-direction: row-reverse;
    }
  }
}

.training-types{
  padding: 70px 0 120px 0;
  position: relative;
  background-color: $color-dark;

  .training-types-list{
    max-width: 1950px;
    padding-inline: 15px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;

    .training-types-item{
      --trainingTypesItemBgIconSize: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      row-gap: 32px;
      padding-top: var(--trainingTypesItemBgIconSize);
      background: url('/icons/arrow-bottom-left.svg') 100% 0 / var(--trainingTypesItemBgIconSize) no-repeat;
    }
  }
  
}

.join-us{


  .join-us-video-wrapper{
    background: url('/img/join-us-bg.jpg') center/cover no-repeat $color-dark-gray;
    padding: 150px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .join-us-video{
      width: 100%;
      max-width: 1960px;
      height: auto;
    }


    .join-us-play-button{
      position: absolute;
      color: $color-light;
      width: 200px;
      aspect-ratio: 1;
      border: 1px solid $color-light;
      border-radius: 50%;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      column-gap: 4px ;
    }

    .join-us-play-button::after{
      content: '';
      width: 26px;
      aspect-ratio: 1;
      background: url('/icons/arrow-top-right.svg') center/contain no-repeat;
    }

    .join-us-play-button:hover{
      background-color: $color-light-gray;
      border: 1px solid $color-light-gray;
    }
  }

  .join-us-body{
    padding-bottom: 150px;

    .join-us-title{
      font-size: clamp(60px, 9.37vw, 180px);
      text-align: center;
      line-height: 1;
      margin-top: -0.4em;
      position: relative;
      display: flex;
      justify-content: center;
      column-gap: 0.14em;
      margin-bottom: 130px;
    }

    .join-us-title::after{
      content: '';
      display: inline-block;
      width: 0.7em;
      aspect-ratio: 1;
      background: url('/icons/bold-arrow-down-right.svg') center/contain no-repeat;
      transform: rotate(-90deg);
    }

    .join-us-form{

      .join-us-form-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 7px;
        margin-bottom: 52px;

        .join-us-form-subtitle{
          font-size: 20px;
          line-height: 1.65;
          text-transform: uppercase;
          color: $color-light;
          text-align: center;
        }
      }

      .join-us-form-body{
        display: flex;
        justify-content: center;
        width: 100%;
        column-gap: 20px;

        .join-us-form-input{
          max-width: 400px;
        }
      }
    }
    
  }
}

.location{
  
  background-color: $color-dark;
  
  
  .location-container{
    max-width: 1920px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .location-body{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 80px 15px;
  
      .location-title{
        margin-bottom: 20px;
      }
  
      .location-description{
        max-width: 490px;
        text-align: center;
        margin-bottom: 37px;
      }
    }
  }
  
  
}

.family{

  .family-header{
    display: flex;
    flex-direction: column;  
    align-items: center; 
    text-align: center;

    .family-title{
      margin-top: 132px;
      margin-bottom: 14px;
    }

    .family-description{
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 62px;
    }
  }

  .family-body{
    max-width: 1920px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    column-gap: 26px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    

    .family-image{
      scroll-snap-align: start;
    }


  }
}

@media (max-width: 1919px) {
  .motivation {
    .motivation-list {
      .motivation-item {
        .motivation-card {
          .motivation-card-image {
            margin-block: -20px;
            // width: 100%;
            // height: auto;
          }
        }
      }
    }
  }
}

@media(max-width:1280px){
  .training-types{
  
    .training-types-list{
      grid-template-columns: repeat(3, 1fr);
  
    }
    
  }
}

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    padding-top: 30px;
    row-gap: 10px;
    padding-inline: 15px;

    & .header-menu {
      order: 1;
      flex-basis: 100%;
      display: flex;
      justify-content: center;

      & .header-menu-list {
        flex-wrap: wrap;
        & .header-menu-link {
          height: 50px;
        }
      }
    }
  }

  .banner {
    padding-inline: 15px;
    
  }

  .motivation {
    .motivation-list {
      .motivation-item {
        .motivation-card {
            padding-block: 50px;
          .motivation-card-image {
            margin-block: 0px;
            max-width: 30%;
            height: auto;
          }
        }
      }
    }
  }

  .join-us{

    .join-us-body{


      .join-us-title{
        margin-bottom: 80px;
      }
    }
  }

  .location{
    .location-container{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    
  }

  .family{


    .family-body{
      
      .family-image{
        height: 360px;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 15px;

    & .header-menu {
      & .header-menu-list {
        column-gap: 30px;

        & .header-menu-link {
          height: 30px;
        }
      }
    }

    & .header-actions {
      column-gap: 20px;
    }
  }

  .banner {
    row-gap: 10px;

    & .banner-body {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      .banner-info::before {
        margin-right: 10px;
      }
    }
  }

  .button {
    padding-inline: 14px;
    font-size: 14px;
  }

  .motivation {
    .motivation-list {
      .motivation-item {
        .motivation-card {
            padding-block: 30px;
            flex-direction: column-reverse;

            .motivation-card-body{
                margin-top: 40px;

                .motivation-card-description p{
                    margin-bottom: 20px;
                }
            }

          .motivation-card-image {
            margin-block: 0px;
            max-width: 60%;
          }
        }
      }

      .motivation-item:nth-child(even) .motivation-card {
        flex-direction: column-reverse;
      }
    }
  }

  .training-types{
  
    .training-types-list{
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
  

      .training-types-item{
        --trainingTypesItemBgIconSize: 50px;
        row-gap: 15px;

        img{
          max-width: 120px;
        }
      }
    }
    
  }

  .join-us{

    .join-us-video-wrapper{
     
      .join-us-play-button{
        width: 140px;
      }
    }

    .join-us-body{

      .join-us-title{
        margin-bottom: 40px;
      }

      .join-us-form{
        .join-us-form-header{

          .join-us-form-subtitle{
            font-size: 16px;
          }
        }

        .join-us-form-body{
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 20px;

          
        }
      }
    }
  }

  .location{

    .location-container{

      .location-body{
        padding: 40px 15px;
  
        .location-description{
          margin-bottom: 20px;
        }
      }
    }
  }

  .family{

    .family-header{

      .family-title{
        margin-top: 70px;
      }

      .family-description{
        margin-bottom: 30px;
      }
    }

    .family-body{
      column-gap: 13px;
      
      .family-image{
        height: 180px;
      }
    }
  }
  
}
